.Config-main {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.Config-main input {
  font-size: 16px;
}

.Config-main button {
  font-size: 16px;
}

.Config-toggle-button {
  color: #87458b;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #87458b;
  transition: 0.3s;
}

.Config-toggle-button:hover {
  background-color: #87458b;
  color: white;
}

.Config-main-expanded {
  background-color: white;
  width: 480px;
  margin-bottom: 5px;
  border: solid 2px #87458b;
  border-radius: 5px;
  padding: 10px;
}

.Config-toggle {
  text-align: right;
}

.Config-form-group {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.Config-form-group label {
  width: 100px;
  margin-bottom: 5px;
}

.Config-form-group small {
  color: grey;
  font-style: italic;
  margin-bottom: 2px;
}

.Config-form-group input {
  flex-grow: 1;
  padding: 5px;
  border-radius: 3px;
  border: 2px solid #87458b;
}

.Config-form-submit-button {
  color: #87458b;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #87458b;
  transition: 0.3s;
}

.Config-form-submit-button:hover {
  background-color: #87458b;
  color: white;
}

.Config-form-submit-button:active {
  color: #87458b;
  background-color: white;
  transition: 0s;
}
