.Display-project {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Display-project-image {
  flex-grow: 1;
  min-height: 1%;
}

.Display-project-image img {
  height: 100%;
}

.Display-empty-state {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
