.Display-project {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Display-project img {
  margin-right: 20px;
}

.Display-project-image {
  height: 100%;
}

.Display-empty-state {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
