.Display-save-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
}

.Display-projects {
  height: 100vh;
  overflow-y: scroll;
}

.Display-project {
  width: 480px;
  padding: 10px;
}

.Display-project input {
  font-size: 16px;
}

.Display-project button {
  font-size: 16px;
}

.Display-project textarea {
  font-size: 16px;
}

.Display-project-form-group {
  display: flex;
  align-items: center;
  padding: 5px 0;
}

.Display-project-form-group label {
  width: 100px;
}

.Display-project-form-group input {
  flex-grow: 1;
}

.Display-project-form-group textarea {
  flex-grow: 1;
  height: 100px;
}

.Display-create-button {
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 15px;
  font-size: 16px;
}
